/* Character Container */
.character {
    display: inline-block;
    border: 2px solid #ff1493;
    background: white;
    position: relative;
    border-radius: 10px;
}

/* Character Layering */
.center {
    position: absolute;
    border: 1px solid red;
    left: 0%;
    top: 0%;
}

.center-fit {
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
    z-index: 1;
}