#next-dressup-button {
    margin-top: 10px;
}

.clothes-menu {
    border-radius: 20px;
    background-color: #F8E5B2;
    display: flex;
    flex-direction: column;
    height: 70vh;
    /* Takes up the full viewport height */
    width: 60vw;
    /* Adjust width based on content or a fixed value if needed */
    max-width: 60vw;

    /* Prevent it from exceeding viewport width */
    box-shadow: 0px 4px 4px rgba(144, 103, 45, 0.25);
}


.clothing-button {
    background-color: transparent;
    border: none;

}

/* Clothing Category */
.clothing-category {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Clothing Preview Images */
.clothing-preview {
    width: 80px;
    height: auto;
    margin: 5px;
    border-radius: 5px;
    pointer-events: none;
    user-select: none;


}

.clothing-preview.top,
.clothing-preview.hairBack,
.clothing-preview.hairFront,
.clothing-preview.accessory {
    object-fit: cover;
    width: 10vw;

    overflow: hidden;
    object-position: top;

}

.clothing-preview.shoes,
.clothing-preview.socks {
    object-fit: cover;
    width: 100px;
    height: 120px;
    overflow: hidden;
    object-position: bottom;

}

/* Remove Button */
.remove-button {
    font-family: 'Roboto Serif';

    display: block;
    margin: 10px auto;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #cc0000;
}

#level-theme {
    font-size: 3vh;

}