/* Global Styles */
body {
    font-family: 'Darumadrop One';
    text-align: center;
    background-color: #ffe4ec;
    color: #ff69b4;
    margin: 0;
    padding: 0;
}

/* Heading */
h1 {
    font-family: 'Darumadrop One';
    font-size: clamp(50px, 9vw, 96px);
    paint-order: stroke fill;
    color: #F8E5B2;
    text-shadow: 0px 4px 4px #A8236C;
    -webkit-text-stroke: 0.2em #E879B6;
    line-height: clamp(40px, 8.5vw, 80px);
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#F8CCED, #FFFEFF);
    height: max(600px, 95vh);
    width: max(600px, 95vw);

    box-sizing: border-box;
    border-radius: 30px;
    border: 8px solid #EDD594;
    overflow: hidden;
    padding: 20px;
}

#outer-container {
    background: #F8E5B2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #222 !important;
    color: #ffb6c1 !important;
}

body.dark-mode h1 {
    color: #ff69b4 !important;
}

body.dark-mode button {
    color: white !important;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 8px;
    padding: 10px;
}

body.dark-mode button:hover {
    background: rgba(255, 255, 255, 0.3) !important;
}

body.dark-mode .modal {
    background-color: #333 !important;
    color: white !important;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}