/* Main Page Container */
#page {
    padding: 20px;
}

/* Game Layout */
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.column {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
}