.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-column {
    width: 30%;

    display: flex;
    justify-content: center;
}

.right-column {
    width: 60%;

    display: flex;
    justify-content: center;
}