.row {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.left-column {
    width: 30%;

    display: flex;
    justify-content: center;
}

.right-column {
    flex-grow: 1;
    /* Takes up ALL remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Keep content centered */
}