.particle {
    background-color: GhostWhite;
    border-radius: 50%;
    box-shadow: 0 0 var(--blur) var(--spread) rgba(255, 255, 224, 0.5);
    /* GhostWhite with 50% opacity */
    height: var(--size);
    left: var(--left);
    position: absolute;
    top: var(--top);
    width: var(--size);
    z-index: 99;
    animation: var(--duration) linear var(--delay) var(--iteration) sparkle;
    opacity: 0;
}


@keyframes sparkle {
    0% {
        opacity: 0;
    }

    25% {
        opacity: var (--opacity);
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}