#outer-container {
    background: #F8E5B2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Ensure .screen is a flex container */
.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#F8CCED, #FFFEFF);
    height: 90vh;
    width: 90vw;
    box-sizing: border-box;
    border-radius: 30px;
    border: 8px solid #EDD594;
    overflow: hidden;
}

#welcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, 3vh, 80px);
}