#outer-container {
    background: #F8E5B2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Creates the "border" effect */
}

#welcome-screen {
    text-align: center;
    padding: 50px;
    background: linear-gradient(#F8CCED, #FFFEFF);
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    /* Inner rounded corners */
    border: 8px solid #EDD594;
    /* This adds the stroke */
}